body{
    margin: 0 auto;
    background-color: black;
    color: white;
}
header{
    background-image: url("../img/cagouilles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

nav{
    height: 16vh;
    background-color: rgba(0,0,0,0.6);
}

ul{
    list-style: none;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

a:hover{
    color: #e8dcdc;
}

/*SECTION*/
.side{
    text-align: center;
}
