{% block header %}
    <header class="d-flex justify-content-end">
        <nav class="row col-4 mx-0">
            <ul class="row align-items-center">
                <li class="col-3"><a href="">ACCUEIL</a></li>
                <li class="col-3"><a href="#gallery">GALLERIE</a></li>
                <li class="col-3"><a href="#video">VIDEOS</a></li>
                <li class="col-3"><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}