{% extends "base.html.twig" %}

{% block body %}
    <section>
        <div class="title d-flex justify-content-center">
            <div class="col-2">
                <img src="{{ asset('img/logo.png') }}" alt="logo du groupe" class="img-fluid">
            </div>
        </div>
        <div class="row mx-0">
            <div class="side col-6 d-flex flex-column justify-content-around">
                <h2>Le groupe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto at, commodi consectetur distinctio dolore est, impedit ipsam itaque minima natus nisi perspiciatis quis reprehenderit saepe sapiente suscipit vero, voluptates!</p>
            </div>
            <div class="col-6">
                <img src="{{ asset('img/group3.jpg') }}" alt="Photo des membres du groupe" class="img-fluid">
            </div>
        </div>
    </section>
{% endblock %}