@import "owl.carousel.min";
@import "owl.theme.default.min";

body{
    margin: 0 auto;
    background-color: black;
    color: white;
}
header{
    background-image: url("../../img/cagouilles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

nav{
    height: 16vh;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 100;
}

ul{
    list-style: none;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: larger;
}

a:hover{
    color: #e8dcdc;
}

/*SECTION*/
.side{
    text-align: center;
}

h2{
    text-align: center;
}

//footer
.footer{
    height: 15vh;
}

.facebook{
    color: #fff;
}
.facebook:hover{
    color: #4267B2;
}

.instagram{
    color: #fff;
}
.instagram:hover{
    fill: url(#grad1);
}

.youtube{
    color: #fff;
}
.youtube:hover{
    color: #FF0000;
}
